* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f7f5f2;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.anchor_offset {
	position: relative;
	top: calc(-20px - 2vw - 9px); /* Tamanho do header */
	border-top: red 1px solid;
	z-index: 99;
}

@media only screen and (max-width: 665px) {
	body {
		font-size: 3vw;
	}

	.anchor_offset {
		top: calc(-3vw - 2vw - 9px); /* Tamanho do header */
	}
}
