.banner {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: -4px;
}

.banner img {
	max-width: 100%;
	width: 100%;
	background-color: #0d0f8d;
}

.banner h1 {
	display: flex;
	position: absolute;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 54px;
	line-height: 58px;
	bottom: 0;
	color: #ffffff;
	padding: 25px 0 25px 40px;
	background: linear-gradient(180deg, rgba(32, 25, 95, 0) 0%, #20195f 100%);
	width: 100%;
}

@media only screen and (max-width: 665px) {
	.banner h1 {
		font-size: 8vw;
	}
}
